<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
<!-- Подключаем новый файл с нашим тегом -->
{% load custom_tags %}

<!--{% load i18n %}-->

{% block content %}


<style>
   button {
    background: greenyellow; /* Цвет фона */
    width: 180px;
    color: darkblue; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 10px; /* Уголки */
   }
</style>

<div>
            <a href="{% url 'my_page' %}">
            <h5 style="font-size: 15px; font-family: Times, serif; color: grey">
                    <button>All my Notes</button>
            </h5>
            </a>

            <a href="{% url 'mynotes_replylist' %}">
            <h5 style="font-size: 15px; font-family: Times, serif; color: grey">
                    <button>My notes replies</button>
            </h5>
            </a>

            <a href="{% url 'myreplies' %}">
            <h5 style="font-size: 15px; font-family: Times, serif; color: grey">
                    <button>My replies on other notes</button>
            </h5>
            </a>

        </div>

<hr>

<p>&nbsp;</p>
<!--<h1 style="text-align: left;">-->
<!--    <span style="text-decoration: none ; color: #808080;">{{ note.title|censor }}</span>-->
<!--</h1>-->
<h4 style="text-align: left;">
    <em>{{ mynote.title}}</em>
</h4>

<h6 style="text-align: left;">
    <em>{{ mynote.time_in}}</em>
</h6>

{# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
<div>
        <div class="nav">
        {% if perms.notes.change_note %}
            {% if mynote.author == request.user %}
                    <a href="{% url 'note_edit' pk=mynote.id %}">
                    <h5 style="font-size: 15px; font-family: Times, serif; color: grey";>
                        <button>Изменить</button></h5>
                    </a>
            {% endif %}
        {% endif %}
        </div>

        <div class="nav">

        {% if perms.notes.delete_note %}
                    <a href="{% url 'note_delete' mynote.id %}">
                        <h5 style="font-size: 15px; font-family: Times, serif; color: grey">
                            <button>Удалить</button></h5>
                    </a>
        {% endif %}

        </div>
</div>
    {% if mynote.image %}
        <div>
        <img src="{{ mynote.image.url }}" width="200" style="horiz-align: left">

        </div>

        {% endif %}
    <h5 style="text-align: left;">

    {{ mynote.note|linebreaks }}
    <p>
        <!-- Все могут видеть количество откликов на статью, если они есть -->

        <h5 style="text-align: left;">Количество откликов на статью: {{no_of_replies}}</h5>

    </p>

    <hr>

    </h5>
    <div>
    <!--Блок Отклики на статью может видеть только авторизованный пользоватеь   -->
    {% if user.is_authenticated %}
        <h2> Отклики </h2>
        <!--Отклики на статью может видеть только автор статьи : проверка на владельца статьи  -->
        {% if request.user == mynote.author %}
            {% if no_of_replies %}

                <hr>
                <!-- present the list of replies -->
                {% for reply in replies %}

                    <div>
                        {% if reply.accept %}
                            <h4 style="color: green">{{reply.replier}} | {{reply.reply|truncatechars:64}} | Accepted</h4>
                        {% else %}

                            <a href="{% url 'mynotes_replylist' %}"><h4 style="color: red">{{reply.replier}} | {{reply.reply|truncatechars:64}} | Not Accepted</h4></a>
                        {% endif %}
                    </div>

<!--                    <div>-->
<!--                        {% if reply.accept %}-->
<!--                        <h4 style="color: green">{{reply.replier}} | {{reply.reply|truncatechars:20}} | {{reply.accept}}</h4>-->
<!--                        {% else %}-->
<!--                        <h4 style="color: red">{{reply.replier}} | {{reply.reply|truncatechars:20}} | {{reply.accept}}</h4>-->
<!--                        {% endif %}-->
<!--                    </div>-->

                {% endfor %}
            {% else %}
            <h2> Откликов нет </h2>
            {% endif %}
        <!-- if authorized user is not the author of note then he or she could see own reply if exist or add reply if not-->
<!--        {% else %}-->
<!--            {% for reply in replies %}-->

<!--                {% if reply.replier == request.user %}-->
<!--                    <div>-->
<!--                        {% if reply.accept %}-->
<!--                            <h4 style="color: green">{{reply.replier}} | {{reply.reply|truncatechars:20}} | Accepted</h4>-->
<!--                        {% else %}-->

<!--                            <h4 style="color: red">{{reply.replier}} | {{reply.reply|truncatechars:20}} | Not Accepted</h4>-->
<!--                        {% endif %}-->
<!--                    </div>-->
<!--                {% endif %}-->
<!--            {% endfor %}-->

<!--            &lt;!&ndash;And give form for reply creation if there is no any unaccepted replies-&ndash;&gt;-->

<!--            <form action="" method="POST" id="id_content" >-->
<!--                <div>-->
<!--                  <label for="reply_form">Ваш отклик</label>-->
<!--                   {{ reply_form.reply }} {% csrf_token %} <input type="submit" value="Разместить">-->
<!--                </div>-->
<!--            </form>-->

        {% endif %}
    {% else %}
        <!--пользователь не авторизован значит на вывод вывод кнопкой на авторизацию-->
        <div>
            <h5>Вам необходимо</h5>
            <a href="/accounts/login/">
                <h5 style="font-size: 15px; font-family: Times, serif; color: grey">
                    <button>Зарегистрироваться</button></h5>
            </a>
        </div>

    {% endif %}
    </div>

{% endblock content %}