<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
<!-- Подключаем новый файл с нашим тегом -->
{% load custom_tags %}

<!-- В контенте на странице мы выводим все notes -->
{% block content %}

<style>
   button {
    background: greenyellow; /* Цвет фона */
    color: darkblue; /* Цвет текста */
    width: 180px;
    padding: 5px; /* Поля вокруг текста */
    border-radius: 10px; /* Уголки */
   }
</style>

    <h1>Объявления</h1>

{# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
    {% if user.is_authenticated %}
        <a href="{% url 'note_create' %}">
        <h5 style="font-size: 15px; font-family: Times, serif; color: grey">
                <button>Добавить объявление</button>
        </h5>
        </a>

     {% else %}
        <!--пользователь не авторизован значит на вывод вывод кнопкой на авторизацию-->
        <div>
            <h5>Для размещения объявления необходимо</h5>
            <a href="/accounts/login/">
                <h5 style="font-size: 15px; font-family: Times, serif; color: grey">
                    <button>Зарегистрироваться</button></h5>
            </a>
        </div>


    {% endif %}

    <hr>

<!-- Выводим notes, только если они есть с помощью тега if -->
    {% if notes %}
            {% for note in notes %}
                <h4 style="text-align: left;">
                    <a href="{%url 'note' note.id %}">{{ note.title }}</a>
<!--    <span style="text-decoration: none ; color: #808080;">{{ note.title }}</span>-->
                </h4>
                <h4 style="text-align: left;">
                    <em>{{ note.author }}</em>
                </h4>

                <h6 style="text-align: left;">
                    <em>{{ note.time_in}}</em>
                </h6>

{# Теперь будем проверять не request.user.is_authenticated, а авторство #}
                <div>
                    <div class="nav">

                    {% if note.author == request.user %}
                            <a href="{% url 'note_edit' pk=note.id %}">
                            <h5 style="font-size: 15px; font-family: Times, serif; color: grey";>
                                <button>Изменить</button>
                            </h5>
                            </a>

                            <a href="{% url 'note_delete' note.id %}">
                                <h5 style="font-size: 15px; font-family: Times, serif; color: grey">
                                    <button>Удалить</button>
                                </h5>
                            </a>
                    {% endif %}

                    </div>
                </div>

                {% if note.image %}
                    <img src="{{ note.image.url }}" width="200";>
                {% endif %}
                    <h5 style="text-align: left;">{{ note.note }}
                    </h5>

                    <hr>
            {% endfor %}
    {% else %}
<!-- Если notes нет, говорим, что товаров нет ;) -->
        <h2>Объявлений нет</h2>
    {% endif %}

{# D4.2 : ad pagination on the page #}

{# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number != 1 %}
            ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
    {% endif %}

{# Информация о текущей странице #}
    {{ page_obj.number }}

{# Информация о следующих страницах #}
    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        {% if paginator.num_pages != page_obj.next_page_number %}
            ...
            <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}

{% endblock content %}