{% extends 'flatpages/default.html' %}
<meta charset="utf-8" />

{% block content %}


    <h1>Подписки</h1>


<br>
    <div>
        <a href="{% url 'notes' %}">
                <h5 style="font-size: 15px; font-family: Times, serif; color: darkblue; align-self: center; background: greenyellow; width: 100px; padding: 5px; border-radius: 10px">
                        <button>All Notes</button>
                </h5>
        </a>
    </div>

<hr>

    {% for category in categories %}
      <p>
        {{ category.name_cat }}
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="category_id" value="{{category.id}}" />
            {% if category.user_subscribed %}
                <button disabled>Подписаться</button>
                <button name="action" value="unsubscribe">Отписаться</button>
            {% else %}
                <button name="action" value="subscribe">Подписаться</button>
                <button disabled>Отписаться</button>
            {% endif %}
        </form>
      </p>
    {% endfor %}
{% endblock content %}
